.anim {
  white-space:pre;
  display: inline-block;
  white-space: pre-wrap;
  transition: ease all 0.4s;
  opacity: 0;
  transform: translateY(40px);
}

.anim.is-active {
  opacity: 1;
  transform: translateY(0px);
}